body {
  background: grey;
}

.content {
  padding: 50px;
}

.content_circle {
  width: 150px;
  height: 150px;
  animation-name:  white-circle;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  left: 0;
  top: 0;
}

.content:hover .content_circle {
  animation-play-state: paused;
}

@keyframes white-circle {
  0% {
    left: 0;
  }

  10% {
    background-color: yellow;
  }

  20%{
    background-color: green;
  }

  40% {
    background-color: purple;
  }

  50% {
    border-radius: 0%;
    top: 500px;
  }

  100% {
    left: 1000px;
  }
}

@keyframes red-circle {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: #fff;
  }
}
